//common styles
@import "./common/color.scss";
@import "./common/variable.scss";
@import "./common/font.scss";
@import "./common/base.scss";

//App styles

.App {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins-Medium";
}
.test__layout {
  width: 100%;
  height: 100%;
}
.test__sidebar {
  background-color: $sidebar_bg;

  &.left {
    padding: 28px;
    position: relative;
    .bottom-logo {
      position: fixed;
      bottom: 26px;
    }
  }

  &.right {
    display: flex;
    justify-content: center;
    padding: 15px 14px;
  }

  .logo_blc {
    display: flex;

    .user-info {
      padding-left: 16.7px;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
  .menu {
    margin-top: 50px;
    background-color: $sidebar_bg;
    font-size: $font_normal;

    .menu-item {
      margin: 0;
      width: 100%;
      height: 35px;
      padding: 8px 14px;
      display: flex;
      align-items: center;

      &.disabled {
        margin-top: 34px;
        text-transform: uppercase;
        font-size: $font_small;
        line-height: $font_inline_small;
      }
    }
  }
  .action_blc {
    margin-top: 38px;
    width: 113px;

    .create {
      background-color: $btn_primary;
      color: $white;
    }
    .open {
      margin-top: 13px;
      background-color: $btn_secondary;
      color: $white;
    }
  }
}
.test__content {
  background-color: $content_bg;

  .skills_blc {
    padding: 35px 40px;

    .more_blc {
      display: flex;
      justify-content: space-between;

      .more {
        color: $white;
      }
      span {
        padding-left: 10px;
      }
    }

    .content_items {
      display: flex;
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;

      .item {
        margin-top: 31.5px;

        .item_image {
          width: 345px;
          height: 200px;
          background-color: $black;
          margin-bottom: 11px;
        }
      }
    }
  }
  .projects_blc {
    padding: 35px 40px 28px 40px;

    .content_title {
      margin-bottom: 5px;

      .search_blc {
        display: flex;
        justify-content: space-between;

        .search {
          display: flex;

          h2 {
            color: $gray;
          }
          .search_input {
            padding-left: 16px;

            .ant-input-affix-wrapper {
              padding: 5.5px 0px;
              border: none;
              border-bottom: 1px solid $gray;
              background-color: transparent;

              &:focus {
                box-shadow: none;
                border-right-width: 0px !important;
              }
              input {
                background-color: transparent;
                color: $gray !important;
              }
            }
          }
        }
      }
    }

    .content_items {
      display: flex;
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;

      .item {
        margin-top: 35px;

        .item_image {
          width: 345px;
          height: 200px;
          background-color: $black;
          margin-bottom: 11px;
        }
      }
    }
  }
}
