body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  overflow-y:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #303133;
}

.ant-layout.ant-layout-has-sider > .ant-layout, .ant-layout.ant-layout-has-sider > .ant-layout-content {
  overflow-x: hidden;
}

.button {
  width: 100%;
  height: 35px;
  border-radius: 2px;
  border-color: transparent;
}

h2 {
  color: $white;
  margin: 0;
  font-size: $font_large;
  line-height: $font_inline_large;
}

h4 {
  color: $white;
  margin: 0;
  font-size: $font_normal;
  line-height: $font_inline_normal;
}

p {
  color: $gray;
  margin: 0;
  font-size: $font_normal;
  line-height: $font_inline_normal;
}
