@font-face {
  font-family: "Poppins-Regular";
  src: local("Popins-Regular"),
    url(../../assets/fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-Medium";
  src: local("Poppins-Medium"),
    url(../../assets/fonts/Poppins-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: local("Popins-SemiBold"),
    url(../../assets/fonts/Poppins-SemiBold.ttf) format("truetype");
}